* {
  margin: 0px;
  padding: 0px; 
}
:root{
  --light-green: #9fff9c;
  --white: #fffbfb;
  --lighter-purple: rgb(222, 222, 245);
  --btn-color:rgb(175, 166, 230);
  --login-color: rgb(154 173 248);
  --btn-color-submit:rgb(191, 181, 255);
  --lg-font: 21px;
  --card-pink: #f5d0fe;
  --card-gray: #efefef;
  --font-22px: 22px;
  --font-17px: 17px;
  --button-border-radius: 6px; 

}

body{
  height: 100%;
  /* height: 100vh ; */
}

.container{
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 grid-template-rows: 1fr 1fr 5fr;
 height: 100vh;
 background-color: var(--lighter-purple);
}

/* top header 1/3*/
.hero-header{
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  font-size: xx-large;
  background-color: var(--white);
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}
/* h1 div */
.h1-div{
 display: flex;
 justify-content: center;
 align-items: center;
}

/* login div */
.login{
  display: flex;
  justify-content: end;
  margin: 0px 3.5rem;
}

#login-btn{
  display: flex;
  font-size: 15px;
  width: 100px;
  height: 25px;
  border: 1px solid #868686;
  border-radius: var(--button-border-radius);
  align-items: center;
  justify-content: center;
}
#login-btn:hover{
  background-color: rgb(189, 202, 255);
  font-size: 17px;
}


/* middle container 2/3 */
.add-book-btn {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 2/3;
    grid-column: 1/3;
    margin:10px
}

button#add-btn {
  display: flex;
  font-size: 20px;
  width: 180px;
  height: 40px;
  border: 1px solid var(--btn-color);
  border-radius: var(--button-border-radius);
  align-items: center;
  justify-content: center;
  gap: 6px;
}

#plusSign-btn{
  font-size: 25px;
}

button#add-btn:hover{
  background-color: var(--btn-color);
  font-size: var(--font-22px);
}

/* bottom container 3/3 */
.book-shelf{
  grid-row: 3/4;
  grid-column: 1/3;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(375px, 1rem));
  justify-items: center;
  gap: 1rem;
  width: inherit;
}

.card{
  display: grid;
  background: var(--card-gray);
  border-radius: 5%;
  gap: 11px;
  width: 300px;
  height: 350px;
  align-content: space-evenly;
  font-size: var(--font-22px);
}

.card-div{
  display: inline-flex;
  justify-content: center;
}

.card-div > button{
  width: 80%;
  height: 30px;
  font-size: var(--font-17px);
  border-radius: var(--button-border-radius);
}

.card-div > button:hover{
  font-size: 18px;
  box-sizing: border-box;
  box-shadow: lightgray;
}

.card-div.btns-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
} 

.delete-btn{
  background-color: #d3c4c4;
}
.div-book-form{
  display: none;
  padding: 2rem;
  background-color: var(--lighter-purple);
  border-radius:5%;
  width: 300px;
  height: 370px;
}

/* FORM */
#book-form{
  display: grid;
  gap: 20px;
  width: 100%;
}

/* Form Header Div */
div#h5Div{
  justify-content: center;
}
/* Header in FORM */
h5{
  font-size: xx-large;
}

/* Form direct children */
#book-form > div {
  width: inherit;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;;
}

#book-form > div >input {
  width: inherit;
  padding-left: 5px;
  line-height: 40px;
  border: 1px solid lightgray;
  border-radius: 5px;
}
/* font-size for form inputs and submit btn */
.inputType > input, .inputType > button {
  font-size: 21px;
}

/* input type checkBox Div*/
.divCheckbox {
  display: flex;
  position: relative;
  align-items: center;
}

/* submit btn label*/
label.switch {
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* submit btn - input */
input[type="checkbox"] {
  font-size: 20px;
  width: 20px;
  height: 20px;
}

/* submit btn main container*/
.submit-div {
  display: inline-flex;
  justify-content: center;
}

/*submit btn*/
#submitBtn{
  font-size: 20px;
  background-color: var(--btn-color-submit);
  padding: 10px;
  width: inherit;
  border: none;
  border-radius: 10px;
}
#submitBtn:hover{
  font-size: 25px;
}
/*Parent container of form -- hidden initially*/
.overlay-container{
  display:none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Added via JS to SHOW .overlay-container*/
.fadeIn{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* via JS to display input validation errors  */
.error{
  color: red;
  
}

.error-remove{
  font-size: larger;
  color: green;

}

.checklist {
  width: inherit;
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.inputType > input:focus{
  outline:none;
}

.inputType > input:focus:invalid {
  outline:none;
  box-shadow: 0 0 1px 1px red;  
}

.inputType > input:valid{
  box-shadow: 0 0 1px 2px green;
  content:"\2713";
}

.card-read-yes{
  background-color: lightgreen;
}
.card-read-no{
  background-color: #fb7185;
}

footer{
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: center;
}